@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");


/* 
git init git ni ishga tushurish
git add . 
git commit -m "name"
git log 
git status
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:hover{
    box-shadow: 1px 1px 20px 1px rgb(170, 159, 159);
    background-color: orangered;
    cursor: pointer;
}

button:hover{
    box-shadow: 1px 1px 20px 1px rgb(170, 159, 159);
    background-color: orangered;
    cursor: pointer;
}

.mm{
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
}

.mm:hover{
    background: blueviolet;
    color: #fff;
}

/* container */
@media (min-width:1200px) {
    .karobka{
        max-width: 1200px;
    }
}
/* header */
.header{
    margin-bottom: 150px !important;
}
@media (max-width: 1028px) {
    .links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        background-color: #f35a05;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
    }

    #check:checked~.links {
        left: 0;
    }

    .links li a {
        color: #fff;
    }
}
/* hero */
.hero{
    margin-bottom: 100px;
}
@media (max-width:1000px) {
    .heding{
       font-size: 50px;     
    }
    .text1{
        font-size: 18px;     
     }
     .btn{
        font-size: 13px;
     }
     .text{
        font-size: 14px;
     }
}

@media (max-width:900px) {
    .heding{
       font-size: 40px;     
    }
    .text1{
        font-size: 16px;     
     }
     .btn{
        font-size: 11px;
        width: 100px;
        height: 40px;
     }
     .text{
        font-size: 10px;
     }
}

@media (max-width:778px) {
    .karobka{
        flex-direction: column;
    }
    .hero-cards-left{
        order: 2;
        width: 100%;
    }

    .heding{
        font-size: 40px; 
        width: 100%;
        text-align: center; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
     }
     .text1{
         font-size: 16px;
        text-align: center;      
      }
      .cards{
        justify-content: center;
      }
      .btn{
         font-size: 16px;
         width: 30%;
         height: 40px;
         
      }
      .text{
         font-size: 15px;
      }
}

@media (max-width:500px) {
    .btn{
        font-size: 13px;
    }
    .text{
        font-size: 13px;
    }
}

@media (max-width:430px) {
    .btn{
        font-size: 13px;
        width: 80%;
    }
    .text{
        font-size: 12px;
    }
    .cards{
        flex-direction: column;
    }
}
/* about */
.about{
    margin-bottom: 100px !important;
}
@media (max-width:1100px) {
    .list{
        grid-template-columns: repeat(4,1fr);
    }
    .item{
        margin-bottom: 50px;
    }
}

@media (max-width:880px) {
    .list{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:680px) {
    .list{
        grid-template-columns: repeat(2,1fr);
        margin-left: 120px;
    }
}

@media (max-width:568px) {
    .list{
        grid-template-columns: repeat(1,1fr);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    .paragrf{
        width: 100%;
        text-align: center;
    }
    .img{
        width: 100%;
        object-fit: cover;
    }
    .item{
        width: 100%;
    }
    .block{
        display: none;
    }
    .h2{
        width: 100%;
        text-align: center;
    }
}
/* flex */
.cards-cards{
    border: 2px dotted red;
}

.cards-cards:hover{
    border: none;
    box-shadow: 0px 0px 30px 0px #dbd5d5;
    transition: 0.5s linear;
}
.katta{
   margin-top: 80px !important;
}

@media (max-width:1100px) {
    .class{
        height: 120px;
    }
    .cards-cards{
        height: 100px;
        padding: 20px;
    }
    .titli{
        font-size: 20px;
    }
    .text5{
        font-size: 14px;
    }
    .class3{
        height: 160px;
    }
}

@media (max-width:921px) {
    .titli{
        font-size: 15px;
    }
    .class{
        height: 140px;
    }
}

@media (max-width:871px) {
    .class2{
        height: 160px;
    }
    .titli{
        font-size: 20px;
    }
    .text5{
        font-size: 11.3px;
        line-height: 20px;
    }

}

@media (max-width:810px) {
    .karobka{
        margin-top: -0px;
        flex-direction: column;
    }
    .flex-cards-left{
        order: 2;
    }
}

.lite{
    margin-top: 100px;
}

@media (max-width:390px) {
    .hash{
        font-size: 30px ;
    }
}

/* section */
.section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.vidio{
    border: 4px dotted red;
}

@media (max-width:768px) {
    .section-list{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:548px) {
    .section-list{
        grid-template-columns: repeat(1,1fr);
    }
    .span-secrion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
/* yangi */
.scss{
    border:  2px dashed red;
}

.scss:hover{
    box-shadow: 0px 0px 80px 10px rgb(185, 178, 178);
}

@media (max-width:880px) {
    .choco{
        flex-direction: column;
    }
    .scss{
        width: 100%;
    }
}

@media (max-width:490px) {
    .choco2{
        flex-direction: column;
    }
    .scss2{
        flex-direction: column;
    }
    .up{
        text-align: center;
    }
    .choco2 >img{
        width: 100%;
    }
    .scss2 >img{
        width: 100%;
    }
    .ddd{
        flex-direction: column;
    }
    .center{
        text-align: center;
    }
}

 /* wfgrthjk */
 .car{
    border-radius: 20px;
    border: 2px dashed red;
    padding: 20px;
 }

 .morgin{
    margin-bottom: 100px;
 }

 @media (max-width:690px) {
    .but{
        width: 50%;
    }
    .head{
        text-align: center;
    }
 }


 @media (max-width:578px) {
    .sss{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .for{
        text-align: center;
    }
 }

 @media (max-width:460px) {
    .but{
        width: 100%;
    }
 }

 /*  */

 .bott{
    margin-bottom: 20px;
    border: 2px dashed  red;
 }

 .bott:hover{
    transition: 0.7s linear;
    border: none;
    box-shadow: 1px 1px 30px 1px #a59d9d;
 }

 .mbmb{
    margin-bottom: 100px;
 }

 @media (max-width:810px) {
    .order{
        order: 2;
    }
    .bott{
        width: 100%;
    }
 }

 @media (max-width:285px) {
    .hhh{
        font-size: 20px;
    }
 }

 /* acardion */

 .acardion{
    margin-bottom: 100px !important;
 }
 /* footer */
 .fot{
    margin-top: 100px;
 }

 @media (max-width:1050px) {
    .ul-fot{
        grid-template-columns: repeat(3,1fr);
    }
 }

 @media (max-width:830px) {
    .ul-fot{
        grid-template-columns: repeat(2,1fr);
    }
 }

 @media (max-width:520px) {
    .ul-fot{
        grid-template-columns: repeat(1,1fr);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .li-fot{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
 }